name: Publish Avro Schemas

on:
  push:
    paths:
      - "avro-schemas/**"
      - ".github/workflows/publish-avro-schemas.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          settings-path: ${{ github.workspace }}
      - name: Publish avro-schemas
        run: mvn -pl avro-schemas -am package -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_TOKEN: ${{ github.token }}
